<mat-card *ngFor="let coffee of coffeeList">
  <mat-card-title>{{coffee.name}}</mat-card-title>
  <mat-card-subtitle>Place:{{coffee.place}}</mat-card-subtitle>
  <mat-card-actions>
    <button (click)="goMap(coffee)" mat-button>
      <mat-icon><i class="material-icons">map</i>
      </mat-icon>
    </button>
    <button (click)="share(coffee)" mat-button>
        <mat-icon><i class="material-icons">share</i>
        </mat-icon>
      </button> 
      <button (click)="getDetails(coffee)" mat-button>
          <mat-icon><i class="material-icons">view_list</i>
          </mat-icon>
      </button>
  </mat-card-actions>
</mat-card>

<a id="btnCreate" mat-fab routerLink="/coffee">
  <mat-icon><i class="material-icons">create</i></mat-icon>
</a>
